@import "./bootstrap_override.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.fs-7 {
  font-size: 13px;
}

.container.col-7 {
  margin-bottom: 118px;
}
